/* ----------------------- Specification ----------------------- */
* {
    letter-spacing: 0.02em;
    line-height: normal;
}

body {
    background-color: #000;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: block;
}

a {
    display: block;
    margin: 0;
    transition: .3s ease;
    font-family: "roboto", Arial, sans-serif;
}

a:hover {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: "roboto", Arial, sans-serif;
}


button:active, button:focus, a:focus, a:active {
    outline: none;
}


.card {
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding-right: 20px;
    padding-left: 20px;
}

.logo:hover {
    opacity: 1;
}

/* ----------------------- INDEX ----------------------- */

/* ------- Header Start ------- */

.header {
    background-color: #e5e3dc;
}

.options {
    z-index: 100;
    height: 67px;
    padding: 0 33px 0 33px;
    width: 100%;
    border-bottom: 2px solid #cecece;
}

.options h3, .options h3 a {
    display: inline-block;
    font-size: 1.5rem;
    color: #292929;
    line-height: 72px;
}

.options__registration a:hover {
    color: #a9763e;
}


.options__logo {
    font-family: 'Microsoft Himalaya', Arial, sans-serif;
    position: relative;
    color: #a9763e;
    font-size: 5rem;
    margin-top: 30px;
    z-index: 10;
}

.options__logo-img {
    position: absolute;
    top: -132px;
    left: 0;
    z-index: 1;
    min-width: 476px;
    max-height: 341px;
}

.options__logo spam {
    letter-spacing: 0.06em;
}

.options__language li {
    display: inline-block;
    margin: 0 4px;
}

.options__language i {
    margin-right: 5px;
}

/* ------- navigation bar Start ------- */

.navigation-bar {
    height: 105px;
    padding-top: 8px;
    border-bottom: 2px solid #cecece;
}

.menu {
    height: 50px;
    padding-top: 7px;
}

.menu > li {
    width: 35%;
}

.menu__part li {
    padding: 0 10% 0 10%;
}

.menu__part li a {
    color: #292929;
    font-size: 1.5rem;
    z-index: 10;
    position: relative;
    line-height: 2.4rem;
}

.menu__part li a:hover {
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
}

.menu__part li a::before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.3s;
}

.menu__part li a:hover::before {
    width: 100%;
    left: 0;
    background: #292929;
}

nav ul li.current-menu-item a::before {
    width: 100%;
    left: 0;
    background: #9b683e;
}

nav ul li.current-menu-item a {
    color: #9b6740;
}

nav ul li.current-menu-item a:hover::before {
    background-color: #9b683e;
}

svg {
    transform: rotate(-90deg);
    color: #333;
    background: currentcolor;
    border-radius: 50%;
    width: 100%;
}

/* ------- navigation bar End ------- */

/* ------- Header End ------- */

/* ------- Branches Start ------- */

.branches {
    background-color: #e5e3dc;
    height: 1800px; /* TEMPORARILY */
    padding-top: 600px;
}

.branches__title {
    font-size: 8rem;
    color: #292929;
}

.branches-list-wrapper {
    width: 110vh;
    height: 100vh;
    border-radius: 50%;
    position: relative;
}

.branches-list li {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    top: 30%;
    left: 37%;
    z-index: 2;
    transform-origin: 100% 100%;
}


.branches-list li a {
    position: absolute;
    font-size: 2.5rem;
    text-align: center;
    color: #292929;
    top: -45px;
    right: 80%;
}

/* ------- branches End ------- */

/* ------- Footer Start ------- */

footer {
    background-color: #1d1d1d;
}

.footer .options__logo {
    margin-top: 20px;
    background-color: transparent;
    margin-right: 25px;
}

.footer__contact-title {
    color: #fff;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    margin-right: 30px;
    padding-top: 7px;
}

.footer__contact li a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #2b2f32;
    margin: 20px 4px;
    border-radius: 7px;
    font-size: 1.5rem;
    position: relative;
}

.footer__contact li a:hover {
    background-color: #a9763e;
}

/* ------- Footer End ------- */


